<!-- Section - Bootstrap Brain Component -->
<!-- Card 1 - Bootstrap Brain Component -->
<section class="pb-3 pb-md-4 pb-xl-5">
    <div class="row gy-3 gy-md-4">
        <div class="col-12 col-sm-6 col-xl-3">
            {{ include('user/partials/_widget_card.html.twig', {
                title: 'Consump. change',
                value: percentageChangeMonthlyConsumption|format_number({ fraction_digit: 2}) ~ '%',
                icon: 'fa-regular fa-lightbulb bg-primary-subtle text-primary',
                info: 'Comparing to last month today.',
                info_icon: percentageChangeMonthlyConsumption > 0
                    ? 'fas fa-arrow-circle-up bg-danger-subtle text-danger'
                    : 'fas fa-arrow-circle-down bg-success-subtle text-success',
                tooltip_description: 'Your energy consumption is ' ~ changeMonthlyConsumtion|format_number({ fraction_digit: 2}) ~ ' KWh comparing to last month today.'
            }) }}
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            {{ include('user/partials/_widget_card.html.twig', {
                title: 'Log. Consump.',
                value: percentageChangeLogMonthlyConsumption|format_number({ fraction_digit: 2}) ~ '%',
                icon: 'fa-regular fa-chart-bar bg-primary-subtle text-primary',
                info: 'Your logging activity this month.',
                info_icon: 'fa fa-circle bg-success-subtle text-success',
                tooltip_description: 'Your logging activity this month.'
            }) }}
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            {{ include('user/partials/_widget_card.html.twig', {
                title: 'Devices',
                value: totalDevices,
                icon: 'fa fa-laptop bg-primary-subtle text-primary',
                info: 'Devices registered by you.',
                info_icon: 'fas fa-circle bg-warning-subtle text-warning',
                tooltip_description: 'Devices registered by you in this account.'
            }) }}
        </div>
        <div class="col-12 col-sm-6 col-xl-3">
            {{ include('user/partials/_widget_card.html.twig', {
                title: 'Price change',
                value: changeMonthlyConst|format_currency('EUR'),
                icon: 'fa-regular fa-credit-card bg-primary-subtle text-primary',
                info: 'Comparing to last month today.',
                info_icon: changeMonthlyConst > 0
                    ? 'fas fa-arrow-circle-up bg-danger-subtle text-danger'
                    : 'fas fa-arrow-circle-down bg-success-subtle text-success',
                tooltip_description: 'You reduced/increased your payment with ' ~ changeMonthlyConst|format_currency('EUR') ~ ' comparing to last month today.'
            }) }}
        </div>
    </div>
</section>