<div data-controller="monthly-energy-price-piechart"
     data-monthly-energy-price-piechart-chart-value="{{ chartDataPrice|json_encode|e('html_attr') }}"
     class="position-relative"
>
    <canvas data-monthly-energy-price-piechart-target="canvas" class="w-100" ></canvas>
</div>