<div data-controller="weekly-device-usage"
     data-weekly-device-usage-chart-value="{{ chartData|json_encode|e('html_attr') }}"
     class="position-relative"
>
    <canvas data-weekly-device-usage-target="canvas" class="w-100" ></canvas>
</div>