flofield.cosylab.at, oetzi.cosylab.at {
    root * /srv/app/public
    php_fastcgi app:9000
    file_server

    basicauth /* {
        daniel $2a$12$S4Lk.jT/xjTLHvEaA0QFPe9kXgz1sDCVUqwK.c2Fk.dxAv/VLSThi
    }
}